<footer class="bg-gray-900 text-white text-center h-auto flex justify-center items-center">
    <div class="flex justify-center items-center p-8 h-[100%] w-[30%]">
        <img src="icons/rickandmorty.png" alt="rickmorty logo" class="max-w-[100%] w-20">
    </div>
    <div id="derechos" class="container mx-auto flex justify-center items-center">
        <p>&copy; 2023 AstroRick&Morty. Todos los derechos reservados.</p>
    </div>
    <div class="flex justify-center items-center h-[100%] w-[30%] p-8 flex-wrap">
        <div class="w-12 h-12 bg-white rounded-full flex items-center justify-center m-1">
            <a href="https://www.youtube.com/@adultswim"><img src="icons/youtube.svg" alt="youtube logo" class="w-6 h-6"></a>
        </div>
        <div class="w-12 h-12 bg-white rounded-full flex items-center justify-center m-1">
            <a href="https://www.instagram.com/rickandmorty/?hl=es"><img src="icons/instagram.svg" alt="instagram logo" class="w-4 h-4"></a>
        </div>
        <div class="w-12 h-12 bg-white rounded-full flex items-center justify-center m-1">
            <a href="https://twitter.com/RickandMorty?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="icons/twitter.svg" alt="twitter logo" class="w-5 h-5"></a>
        </div>
    </div>
</footer>





