<footer class="bg-gray-900 text-white text-center h-24 flex justify-center items-center">
    <div class="flex justify-center items-center p-8">
        <img src="icons/rickandmorty.png" alt="rickmorty logo" class="max-w-[100%] w-20">
    </div>
    <div id="derechos" class="container mx-auto bg-blue-400 flex justify-center items-center sm:text-sm sm:w-72">
        <p>&copy; 2023 AstroRick&Morty. Todos los derechos reservados.</p>
    </div>
    <div class="flex justify-center items-center p-8">
        <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center mr-5">
            <a href=""><img src="icons/youtube.svg" alt="youtube logo" class="w-6 h-6"></a>
        </div>
        <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center">
            <img src="icons/instagram.svg" alt="instagram logo" class="w-4 h-4">
        </div>
        <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center ml-5">
            <img src="icons/twitter.svg" alt="twitter logo" class="w-5 h-5">
        </div>
    </div>
</footer>




