---
---

<header class="bg-gray-900 h-auto flex justify-center items-center">
    <div class="h-28 w-96 ">
        <img src="icons/rickandmortylogo.png" alt="Rick and Morty Logo" class="h-[100%]">
    </div>
</header>