---
---

<header class="bg-lime-700 h-28 flex justify-center items-center">
    <div class="h-28 w-96 ">
        <img src="icons/rickandmortylogo.png" alt="Rick and Morty Logo" class="min-h-full">
    </div>
</header>