
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const personajesURL = 'https://rickandmortyapi.com/api/character';
    
        fetch(personajesURL)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error("Fallo al cargar los recursos");
                }
            })
            .then(data => {
                const divPersonajes = document.querySelector('#divPersonajes');
    
                data.results.forEach(character => {
                    var tarjetaPersonaje = document.createElement('div');
                    tarjetaPersonaje.classList.add('bg-slate-100', 'border-black', 'border-2', 'h-auto', 'w-40', 'flex', 
                    'flex-col', 'justify-center', 'items-center', 'm-5');
                    
                
                    tarjetaPersonaje.innerHTML =
                        `<div>
                            <div>
                                <h1>${character.name}</h1>
                            </div>
                            <div>
                                <img src="${character.image}" alt="${character.name}"></img>
                            </div>
                            
                            
                        </div>`;
    
                    divPersonajes?.appendChild(tarjetaPersonaje);
                });
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
    </script>
    

<!-- Vista.astro -->
<main class="flex-1 bg-slate-400 p-5 flex justify-around items-center">

    <div id="divPersonajes" class="flex flex-wrap justify-center items-center text-center bg-red-500">
        
    </div>
</main>

